/*#candidate {
    border-radius: 0%;
    border-color: aquamarine;
    box-sizing: border-box;
}

.buttonClass {
    border-radius: 0%;
    border-color: aqua;
    border-style: inherit;
}

button:hover {
    background-color: green;
}
*/